[defaults]
host_key_checking = False
inventory = inventory/oracle-cloud.yml
remote_user = ubuntu
private_key_file = ~/.ssh/oracle_cloud_key
gathering = smart
fact_caching = memory
stdout_callback = yaml
retry_files_enabled = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
